/*

Intellij Idea-like styling (c) Vasily Polovnyov <vast@whiteants.net>

*/


/* Show line numbers in diff Source: https://jkasky.github.io/reviewable-settings/syntax.css */
div[data-line-number]:not([data-line-number="0"]):before {
  content:attr(data-line-number);
  position:absolute;
  color: #aaa;
  padding: 3px;
  font-size: x-small;
  display: block;
  width: 25px;
}

div[data-line-number]:not([data-line-number="0"]) .line.content {        
  padding-left: 25px;    
  width: calc(100% - 25px);
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #000;
  background: #fff;
}

.hljs-subst,
.hljs-title {
  font-weight: normal;
  color: #000;
}

.hljs-comment,
.hljs-quote {
  color: #808080;
  font-style: italic;
}

.hljs-meta {
  color: #808000;
}

.hljs-tag {
  background: #efefef;
}

.hljs-section,
.hljs-name,
.hljs-literal,
.hljs-keyword,
.hljs-selector-tag,
.hljs-type,
.hljs-selector-id,
.hljs-selector-class {
  font-weight: bold;
  color: #000080;
}

.hljs-attribute,
.hljs-number,
.hljs-regexp,
.hljs-link {
  font-weight: bold;
  color: #0000ff;
}

.hljs-number,
.hljs-regexp,
.hljs-link {
  font-weight: normal;
}

.hljs-string {
  color: #008000;
  font-weight: bold;
}

.hljs-symbol,
.hljs-bullet,
.hljs-formula {
  color: #000;
  background: #d0eded;
  font-style: italic;
}

.hljs-doctag {
  text-decoration: underline;
}

.hljs-variable,
.hljs-template-variable {
  color: #660e7a;
}

.hljs-addition {
  background: #baeeba;
}

.hljs-deletion {
  background: #ffc8bd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

two.column.diff
  .diff.line:not(.keep)
  .line.wrapper:not(.empty)
  .left.line.content {
  background-color: rgba(240, 92, 92, 0.20);
}
.two.column.diff
  .diff.line.base:not(.keep)
  .line.wrapper:not(.empty)
  .left.line.content,
.two.column.diff
  .diff.line.whitespace:not(.keep)
  .line.wrapper:not(.empty)
  .left.line.content {
  background-color: rgba(240, 92, 92, 0.05);
}

.two.column.diff
  .diff.line:not(.keep)
  .line.wrapper:not(.empty)
  .right.line.content {
  background-color: rgba(240, 92, 92, 0.20);
}
.two.column.diff
  .diff.line.base:not(.keep)
  .line.wrapper:not(.empty)
  .right.line.content,
.two.column.diff
  .diff.line.whitespace:not(.keep)
  .line.wrapper:not(.empty)
  .right.line.content {
  background-color: rgba(240, 92, 92, 0.05);
}

.two.column.diff .diff.line .left.line.content .delta {
  background-color: rgba(91, 220, 114, 0.30);
}
.two.column.diff .diff.line.base .left.line.content .delta,
.two.column.diff .diff.line.whitespace .left.line.content .delta {
  background-color: rgba(91, 220, 114, 0.15);
}

.two.column.diff .diff.line .right.line.content .delta {
  background-color: rgba(240, 92, 92, 0.30);
}
.two.column.diff .diff.line.base .right.line.content .delta,
.two.column.diff .diff.line.whitespace .right.line.content .delta {
  background-color: rgba(240, 92, 92, 0.15);
}
